*.bak
*~
*.a
*.o
*.d
*_tests
*.xml
*.prefs
*.DS_Store
*.log
*.tlog
*.user
*.lastbuildstate
*.unsuccessfullbuild
*.pdb
*.lib
*.exe
*.sdf
*.obj
*.idb
*.manifest
*.res
*.ilk
*.rc
*.opensdf
*.suo
vs2010
*.metagen